/* You can add global styles to this file, and also import other style files */
@use 'color';

html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

.btn {
    &-primary {
        background-color: color.$primary-color;
        border: 0px;
        width: 100px;
        font-weight: 600;
        border-radius: 5px;
        height: 35px;
        cursor: pointer;

        :disabled {
            background-color: color.$primary-color-disabled;
        }
    }

    &-secundary {
        background-color: color.$grey;
        border: 0px;
        width: 100px;
        font-weight: 600;
        border-radius: 5px;
        height: 35px;
        cursor: pointer;
    }

}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1em;

    span {
        font-weight: bold;
        font-family: sans-serif;
    }
}

input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #8080809c;
    padding-left: 10px;
}

.invalid {
    border-color: #f5283c;
    color: #f5283c;
}



.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}




.text-center {
    text-align: center;
}


.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-6 {
    width: 50%;
}

@media (max-width:1100px) {
    .row {
        display: block;
    }

    input {
        width: 86%;
    }

    .col-6 {
        width: 100%;
    }

}